@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&family=Asul&family=Concert+One&family=Corben:wght@400;700;900&family=Eczar&family=Fruktur&family=Kavoon&family=Neuton&family=Space+Mono&family=Tillana&family=Work+Sans&display=swap");

* {
  font-family: Space Mono;
  font-weight: 700;
  background: #373737;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  padding: 15px;
}

.mobile {
  display: none;
}

small.mobile {
  text-align: center;
}

button {
  margin: 60px 60px 30px 60px;
  cursor: pointer;
  padding: 15px 30px;
}

h1 {
  padding: 15px;
  text-align: center;
  color: ghostwhite;
  font-weight: 500;
  font-family: Asul;
  font-size: 4rem;
  letter-spacing: 1px;
  /*   text-shadow: 2px 2px 2px black;
   -webkit-text-shadow: 2px 2px 2px black; */
}

a {
  background: inherit;
  text-decoration: none;
  font-size: 1rem;
}

small {
  color: ghostwhite;
  font-size: 0.8rem;
}

/* HAZY HOVER */

a.pink {
  text-decoration: none;
  color: black;
}

button.pink {
  background: pink;
  border: none;
  border-radius: 20px;
}

button.pink:hover {
  box-shadow: 0 0 20px 20px pink;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

/* IT'S NICE TO CTA YOU */

a.hotPink {
  border: 0px;
  color: GhostWhite;
}

button.hotPink {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
  border-radius: 20px;
}

@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

button.hotPink:hover {
  animation-play-state: paused;
}

/* I'M SO NERVOUS */

p.crimson {
  text-decoration: none;
  color: ghostwhite;
  -webkit-animation: vibrate 0.5s linear infinite both;
  animation: vibrate 0.5s linear infinite both;
  background: crimson;
  margin-top: 0px;
  margin-bottom: 0px;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

button.crimson {
  background: crimson;
  border-radius: 20px;
  border: 1px solid ghostwhite;
}

button.crimson:hover {
  -webkit-animation: vibrate-more 0.5s linear infinite both;
  animation: vibrate-more 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-more {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-more {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  
  
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
